.btn {
  display: inline-block;
  height: 38px;
  line-height: 35px;
  padding: 0 23px;
  font-size: 13px;
  font-weight: 700;
  border: 2px solid transparent;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  outline: 0;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.btn-large {
  height: 47px;
  line-height: 47px;
  font-size: 16px;

  @media only screen and (max-width: @app-media-sm) {
    height: 42px;
    line-height: 42px;
    padding: 0 17px;
  }
}

.btn-small {
  height: 24px;
  line-height: 18px;
  font-size: 10px;
  padding: 0 20px;

  @media only screen and (max-width: @app-media-sm) {
    height: 24px;
    line-height: 18px;
    padding: 0 17px;
  }
}

.btn-transparent {
  border: 2px solid @darkGray;
  color: @darkGray;

  &:hover {
    background-color: @gold;
    border-color: @gold;
    color: @white;
  }
}

.btn-dark-blue {
  border: 2px solid @darkBlue;
  background-color: @white;
  color: @darkBlue;

  &:hover {
    background-color: @darkBlue;
    color: @white;
  }
}

.btn-more-gold {
  border: 2px solid @gold;
  background-color: @white;
  color: @gold;

  &:hover {
    background-color: @gold;
    color: @white;
  }
}

.btn-gold {
  border: 2px solid @gold;
  background-color: @gold;
  color: @white;

  &:hover {
    background-color: rgba(13, 28, 66, 0.7);
    border-color: rgba(13, 28, 66, 0.7);
    color: @gold;
  }
}

.btn-transparent-dark {
  border: 1px solid @gold;
  background-color: transparent;
  color: @gold;

  &:hover {
    background-color: rgba(13, 28, 66, 0.7);
    border-color: rgba(13, 28, 66, 0.7);
    color: @gold;
  }
}

.btn-olive {
  background-color: @olive;
  border: 2px solid @olive;
  color: @white;

  &:hover {
    background-color: @lightOlive;
    border-color: @lightOlive;
    color: @white;
  }
}
