body {
  margin: 0;
  font-family: 'Raleway',sans-serif;
  font-size: 14px;
  color: @gray;
  background-color: #f7f7f7;
  overflow-y: scroll;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
}

a,
select,
input {
  &,
  &:active,
  &:focus,
  &:visited {
    outline: none;
  }
}

a {
  color: @darkGray;
  text-decoration: none;

  &:hover {
    color: @gold;
  }
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.page-title {
  background-image: url('@{imagesPath}/top-stripe.png');
  background-repeat: no-repeat;
  background-position: right top;
  color: @gold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: center;
  font-size: 13px;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;

  &.empty-title {
    background-image: url('@{imagesPath}/W-top-stripe-02a.jpg');
    background-position: center 0;
    background-size: 100%;
    min-height: 74px;

    @media only screen and (min-width: @app-media-md) {
      background-size: auto 135px;
      height: 135px;
    }
  }

  @media only screen and (max-width: @app-media-sm) {
    min-height: 30px !important;
  }
}

.content-inner {
  padding: 20px 0 30px;
  width: 93%;
  margin: 0 auto;

  @media only screen and (min-width: @app-media-sm) {
    padding: 50px 0 30px;
  }
}

@media only screen and (min-width: @app-media-md) {
  .ui-dashboard-view {
    padding-left: 18%;
  }

  .page-title {
    font-size: 20px;
    min-height: 54px;

    &.large-page-title {
      min-height: 72px;
    }
  }
}
