.form-wrapper {
  padding: 20px 50px;
  background-color: @lightWhite;

  @media only screen and (max-width: @app-media-sm) {
    padding: 20px;
  }

  h2 {
    font-size: 24px;
    line-height: 1.384615384615385em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: @darkGray;
  }
}

input {
  padding: 15px 13px;
  border: 0;
  outline: 0;
  resize: none;
  font-size: 13px;
  line-height: 17px;
  background-color: @white;
  color: @gray;
  font-weight: 400;
}

.form-row {
  margin-bottom: 20px;

  label {
    margin-bottom: 3px;
    font-size: 16px;
    line-height: 30px;
    display: block;
  }
}

ul#message ul {
  padding: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
