@-moz-keyframes element-from-top {
  0% {
    -moz-transform: translate(0, -30%);
    opacity: 0
  }
  100% {
    -moz-transform: translate(0, 0);
    opacity: 1
  }
}

@-o-keyframes element-from-top {
  0% {
    -o-transform: translate(0, -30%);
    opacity: 0
  }
  100% {
    -o-transform: translate(0, 0);
    opacity: 1
  }
}

@keyframes element-from-top {
  0% {
    transform: translate(0, -30%);
    opacity: 0
  }
  100% {
    transform: translate(0, 0);
    opacity: 1
  }
}

@-webkit-keyframes element-transform {
  0% {
    -webkit-transform: scale(0.3);
    opacity: .1
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1
  }
}

@-moz-keyframes element-transform {
  0% {
    -moz-transform: scale(0.3);
    opacity: .1
  }
  100% {
    -moz-transform: scale(1);
    opacity: 1
  }
}

@-o-keyframes element-transform {
  0% {
    -o-transform: scale(0.3);
    opacity: .1
  }
  100% {
    -o-transform: scale(1);
    opacity: 1
  }
}

@keyframes element-transform {
  0% {
    transform: scale(0.3);
    opacity: .1
  }
  100% {
    transform: scale(1);
    opacity: 1
  }
}
