// COLORS:
@white: #ffffff;
@lightWhite: #f4f4f4;
@darkWhite: #f6f6f6;

@gold: #debe85;
@darkGold: #b59d6e;

@gray: #818181;
@lighterGray: #888888;
@lightGray: #666666;
@darkGray: #303030;
@darkBlue: #0d1c42;
@lightBlue: #1c2b52;
@black: #000000;
@olive: #333333;
@lightOlive: #4f4f4f;


// messages
@green: #3c763d;
@lightGreen: #dff0d8;
@lightestGreen: #d6e9c6;

@azure: #31708f;
@lightAzure: #d9edf7;
@lightestAzure: #bce8f1;

@brown: #8a6d3b;
@lightBrown: #fcf8e3;
@lightestBrown: #faebcc;

@danger: #a94442;
@lightDanger: #f2dede;
@lightestDanger: #ebccd1;


// PATH:
@imagesPath: '../images';
@iconsPath: '../images/icons';


// RESPONSIVE
// media breakpoints
@app-media-xlg: 1800px;
@app-media-lg: 1170px;
@app-media-md: 970px;
@app-media-sm: 750px;
@app-media-xs: 560px;
