.about-container {
  .title-background {
    height: 115px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (min-width: @app-media-sm) {
      height: 230px;
    }

    @media only screen and (min-width: @app-media-md) {
      height: 350px;
    }
  }

  .about-content {
    padding: 70px 20px;
    max-width: 950px;
    margin: 0 auto;

    h2, h3 {
      font-size: 24px;
      line-height: 1.384615384615385em;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
      margin: 0;
      color: #303030;
    }

    h3 {
      font-size: 17px;
      line-height: 1.304347826086957em;
    }

    .search-form {
      input[type="text"] {
        height: 37px;
        color: #adadad;
        font-weight: normal;
      }

      input[type="submit"] {
        margin-top: 4px;
      }
    }

    .centred-section {
      text-align: center;
    }

    .separator {
      background-color: #eaeaea;
      display: block;
      height: 1px;

      &.transparent {
        background-color: transparent;
      }

      &.small-top {
        margin-top: 25px;
      }

      &.small-bottom {
        margin-bottom: 25px;
      }

      &.extra-top {
        margin-top: 50px;
      }

      &.extra-bottom {
        margin-bottom: 50px;
      }
    }

    .section-content {
      p {
        font-size: 16px;
        line-height: 30px;
        margin: 0;
      }
    }

    .founder-section {
      display: flex;
      flex-direction: column;


      .section-content {
        p {
          font-size: 14px;
        }
      }

      .founder-photo {
        background-color: #fff;
        border-bottom: 2px solid #debe85;
        margin-bottom: 20px;

        img {
          width: 180px;
          height: 180px;
          border-radius: 180px;
          margin: 40px auto 30px;
          display: block;
        }

        .founder-name {
          text-align: center;
          margin-bottom: 50px;
        }
      }


      @media only screen and (min-width: @app-media-sm) {
        justify-content: space-between;
        flex-direction: row;

        .founder-photo {
          width: 24%;
          margin-bottom: 0;
        }

        .founder-details {
          width: 70%;
        }
      }
    }
  }

  .send-email-section {
    max-width: 460px;
    margin: 0 auto;
    text-align: center;

    .send-email-form {
      margin-bottom: 70px;

      i {
        font-size: 19px;
        line-height: 22px;
      }

      textarea {
        resize: vertical;
        font-size: 13px;
        line-height: 17px;
        background-color: rgb(255, 255, 255);
        color: rgb(129, 129, 129);
        font-weight: 400;
        border: none;
        font-family: 'Raleway';
        padding: 15px 13px;
      }

      input[type="text"],
      input[type="email"],
      textarea {
        width: 100%;
        box-sizing: border-box;
        text-align: left;
        font-family: 'Raleway';
      }
    }

    .clickable-email-title {
      padding: 39px 0 15px;
      color: #303030;
      font-size: 19px;
      line-height: 22px;
      cursor: pointer;

      .fa-angle-up {
        display: none;
      }

      .fa-angle-down {
        display: block;
      }


      &.open {
        .fa-angle-up {
          display: block;
        }

        .fa-angle-down {
          display: none;
        }
      }

      h3 {
        padding-bottom: 5px;
      }

      &:hover {
        > * {
          color: @gold;
        }
      }
    }
  }
}
