.want-list-creation {
  padding: 20px 30px;
  border-bottom: 1px solid #e7e7e7;

  label {
    vertical-align: middle;
    margin-right: 20px;
    font-size: 16px;
  }

  input[type="text"] {
    border-radius: 3px;
    vertical-align: middle;
    margin-right: 10px;
    min-width: 190px;
    padding: 9px 13px;
  }

  button {
    height: 32px;
    line-height: 28px;
    text-transform: none;
    letter-spacing: normal;
    font-weight: normal;
  }

  .dashboard-select {
    min-width: 110px;
    margin-right: 10px;
    vertical-align: middle;

    span.selectBox-label {
      font-size: 16px;
      padding: 3px 8px 3px 3px;
    }
  }


  @media only screen and (max-width: @app-media-xs) {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;

    input[type="text"],
    a.selectBox {
      width: 100% !important;
      margin: 0;
      box-sizing: border-box;
    }
  }
}
