.dashboard-container {
  .edit-by-section {
    margin-top: 30px;

    img {
      height: 158px;
      width: 158px;
      border-radius: 158px;
    }

    .editor-details {
      font-weight: 600;
      text-indent: 3px;
      line-height: 23px;
      margin-bottom: 10px;

      .edit-by {
        font-size: 16px;
      }

      &.without-name {
        .edit-by {
          font-size: 23px;
        }
      }

      .editor-name {
        color: @gold;
        text-transform: uppercase;
        font-size: 18px;
      }

      .editor-position {
        text-transform: uppercase;
        font-size: 13px;
        font-style: italic;
      }
    }

    @media only screen and (min-width: @app-media-xs) {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: -40px;
      right: 40px;

      .editor-details {
        margin-right: 20px;
        margin-bottom: 0;
        text-align: right;
      }
    }
  }

  .home-image-section {
    position: relative;
    padding-left: 6%;
    padding-right: 6%;

    &.center {
      align-items: center !important;
    }

    &.left {
      align-items: flex-start !important;
    }

    &.right {
      align-items: flex-end !important;
    }
  }

  .top-slider {
    .fixed-background {
      height: 700px;
      background-repeat: no-repeat;
      background-attachment: fixed;



      .search-bar {
        background-color: rgba(10,10,10,0.3);
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .dashboard-title {
          font-size: 16px;
          line-height: 30px;
          color: @gold;
        }

        .bar-search-form {
          width: 30%;

          form {
            position: relative;

            input {
              background-color: rgba(255, 255, 255, 0.80);
            }
          }
        }
      }

      .fixed-background-content {
        text-align: center;
      }
    }

    .separates-image {
      background-color: @white;
      height: 750px;
      display: flex;
      flex-direction: row;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;

      &.reverse-separates-images {
        flex-direction: row-reverse;
      }

      .image-section {
        flex: 1;
      }

      .content-section {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h2 {
          font-family: Crimson Text;
          font-size: 45px;
          line-height: 55px;
          font-style: normal;
          font-weight: 400;
          color: @darkBlue;
          margin: 0;
        }

        h4 {
          font-size: 17px;
          line-height: 1.304347826086957em;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 600;
          color: @darkGray;
          margin: 10px 0 20px;
        }
      }
    }
  }

  .fixed-background-content {
    color: @white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;

    a {
      display: inline-block;
    }

    h2 {
      font-family: Crimson Text;
      font-size: 79px;
      font-weight: 400;
      text-transform: uppercase;
      text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
      margin: 0;
    }

    h4 {
      text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
      font-size: 24px;
      line-height: 1.384615384615385em;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
      margin: 10px 0 20px;
    }
  }

  .blow-it {
    height: 600px;
    //background-image: url('@{imagesPath}/blow_it.png');
    background-repeat: no-repeat;
    background-attachment: fixed;

    .fixed-background-content {
      align-items: flex-start;
      padding-left: 6%;
      height: 100%;

      h2 {
        font-size: 48px;
      }

      h4 {
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 17px;
      }
    }
  }

  .slider-area {
    width: 93%;
    margin: 0 auto;

    h2 {
      text-align: center;
      color: @gold;
      font-size: 17px;
      line-height: 1.304347826086957em;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
      margin: 0;
      padding: 22px 0;
    }

    .dashboard-carousel {
      padding: 0 15px;
    }
  }

  .link-section {
    min-height: 99px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 58px;
      width: 52px;
      margin: 0 30px;
    }
  }

  .dashboard-footer {
    background-image: url('@{imagesPath}/footer-bckg-04.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 155px 0 37px 10%;
    color: @gold;

    h3 {
      font-size: 22px;
      line-height: 1.304347826086957em;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
    }

    a {
      &:not(.btn) {
        display: block;
      }

      &.btn {
        margin-top: 30px;
        margin-bottom: 140px;
      }
    }

    > div {
      width: 50%;
    }

    .extension-details {
      font-size: 16px;
      line-height: 30px;

      a, img {
        display: inline;
      }
    }

    .site-description {
      font-size: 16px;
      margin-top: 15px;
      line-height: 24px;
    }
  }

  @media only screen and (max-width: @app-media-sm) {
    .fixed-background {
      height: auto;
      min-height: 600px;
      background-attachment: initial !important;

      .search-bar {
        text-align: center;

        span {
          display: block;
        }

        .dashboard-title {
          width: 100%;
        }

        .bar-search-form {
          display: none;
        }
      }
    }

    .blow-it .fixed-background-content,
    .fixed-background-content {
      h2 {
        font-size: 38px;
      }

      h4 {
        width: 255px;
        font-size: 20px;
        line-height: 36px;
      }

      input {
        height: 42px;
      }
    }

    .blow-it {
      max-height: 375px;
      background-attachment: initial !important;

      .fixed-background-content {
        align-items: center;

        h4 {
          font-size: 17px;
          line-height: 1.304347826086957em;
          font-weight: 600;
        }
      }
    }

    .separates-image {
      max-height: 450px;

      .image-section {
        display: none;
      }
    }

    .link-section {
      flex-direction: column;
      min-height: 314px;

      img {
        margin: 19px 0;
      }
    }

    .dashboard-footer {
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;

      > div {
        width: 100%;
      }
    }
  }

  @media only screen and (min-width: @app-media-sm) and (max-width: @app-media-md) {
    .fixed-background {
      height: 600px !important;
    }
  }

  @media only screen and (min-width: @app-media-md) {
    .blow-it {
      background-position: top right;
    }
  }
}

form.search-form {
  position: relative;

  input {
    padding: 2px 0 2px 3%;
    height: 26px;
    width: 100%;
    box-sizing: border-box;
  }

  #searchsubmit {
    width: 37px;
    height: 37px;
    padding: 0 4%;
    outline: 0;
    color: #a6a6a6;
    font-family: 'FontAwesome',sans-serif;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    background: 0;
    position: absolute;
    right: 0;
    top: -5px;
  }
}
