.individual-page {
  .item-container {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 26px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 0 0 8px;
      line-height: 1.25em;
      color: #303030;
    }

    .price {
      span {
        color: #debe85;

        &.amount {
          font-size: 30px;
          font-weight: 600;
        }
      }
    }

    .item-description {
      font-size: 16px;
      line-height: 30px;
      color: #818181;
      font-weight: 400;
      margin: 8px 0 30px;
    }

    .item-photo {
      position: relative;
      margin-right: 1.8%;
      margin-bottom: 20px;

      a {
        img {
          width: 100%;
        }
      }
    }

    .item-details {
      background-color: @white;
      padding: 40px 40px 10px;

      a.btn {
        min-width: 63px;
        text-align: center;
      }

      .actions {
        margin-top: 30px;
        display: flex;
        align-items: center;

        span {
          font-size: 12px;
          padding-left: 20px;
        }
      }

      .note-section {
        margin-top: 20px;
        margin-bottom: -10px;

        p {
          margin: 10px 0 0 7px;
          line-height: 20px;
        }
      }

      .tagged-as {
        margin: 25px 0;
        font-size: 12px;
        color: #777;
        font-weight: 700;
        text-transform: capitalize;

        a {
          font-weight: 500;
          color: #777;
          text-transform: none;
          margin-left: 3px;
        }
      }
    }

    @media only screen and (min-width: @app-media-sm) {
      flex-direction: row;
      align-items: flex-start;

      .item-photo {
        width: 49%;
      }

      .item-details {
        width: 30%;
      }
    }
  }

  @media only screen and (min-width: @app-media-xlg) {
    .item-details {
      width: 20% !important;
    }
  }

  @media only screen and (min-width: @app-media-xs) {
    .item-details {
      padding: 20px 20px 10px;
    }
  }


  .related-products {
    h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      color: #303030;
      margin-bottom: 34px;
    }

    .related-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;

      .list-item {
        margin: 0 5px 5px 0;
        min-width: 95%;
      }

      @media only screen and (min-width: @app-media-xs) {
        flex-direction: row;

        .list-item {
          min-width: 46%;
          max-width: 48%;
        }
      }

      @media only screen and (min-width: @app-media-sm) {
        flex-direction: row;
        flex-wrap: nowrap;

        .list-item {
          min-width: 24%;
        }
      }
    }
  }
}
