.ui-view-container {
    .landing-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        > div {
            min-height: 100vh;
            flex: 1;
        }

        .dark-side {
            background-image: url('@{imagesPath}/landing_reggie-dark.png');
            background-position: right;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 258px;
                height: 87px;
                padding-bottom: 250px;
                -webkit-animation: element-from-top .7s 1 ease-in-out;
                -moz-animation: element-from-top .7s 1 ease-in-out;
                -o-animation: element-from-top .7s 1 ease-in-out;
                animation: element-from-top 700ms ease-in-out 0ms 1;
                opacity: 1;
                -webkit-backface-visibility: hidden;
            }
        }

        .light-side {
            padding: 45px 0 80px;
            text-align: center;
            background-size: cover;
            background-image:  url('@{imagesPath}/landing_reggie-light.png');

            .top-form-title {
                color: @gold;
                text-align: center;

                h3 {
                    font-family: 'Cantata One', serif;
                    font-size: 21px;
                    margin: 0;
                    line-height: 30px;
                    font-weight: 400;
                }

                .hash-tag-field {
                    font-size: 16px;
                    line-height: 30px;
                    margin: 0 0 25px;
                }
            }

            .form-separator {
                color: @lightGray;
                line-height: 36px;
                font-size: 12px;
                font-weight: 700;
                padding-top: 40px;
                padding-bottom: 20px;
            }

            .form-wrapper {
                width: 60%;
                margin: 0 auto;

                input[type="text"],
                input[type="email"],
                input[type="password"] {
                    width: 100%;
                    box-sizing: border-box;
                }

                h2 {
                    margin-bottom: 0;
                }

                a {
                    font-size: 16px;
                }
            }
        }

        @media only screen and (max-width: @app-media-sm) {
            flex-direction: column;
            background-image: url(../images/landing_reggie-dark.png);
            background-position: center;
            background-size: cover;
            padding-bottom: 200px;

            .dark-side,
            .light-side {
                min-height: auto;
                background-image: none;
            }

            .dark-side {
                img {
                    padding: 30px 0 0;
                }
            }

            .light-side {
                margin: 30px;
                padding-top: 20px;
                border-top: 1px solid @gold;

                .top-form-title {
                    h3 {
                        display: inline;
                        font-size: 20px;
                    }

                    .hash-tag-field {
                        margin: 0 0 20px;
                    }
                }

                .form-wrapper {
                    width: 100%;
                    box-sizing: border-box;

                    input[type="text"],
                    input[type="email"],
                    input[type="password"] {
                        width: 87%;
                    }
                }
            }
        }
    }
}
