.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .list-item {
    max-width: 45%;
    margin-right: 1.4%;
    margin-bottom: 20px;

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  @media only screen and (min-width: @app-media-xs) {
    .list-item {
      max-width: 32%;
      min-width: 32%;
      margin-right: 1.2% !important;
    }
  }
}

.list-top-filter {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 40px;
  padding: 0 25px;
  line-height: 47px;

  > div {
    margin-top: 20px;
  }

  .pagination-details {
    span {
      font-size: 16px;
      text-align: right;
      line-height: 47px;
    }
  }

  @media only screen and (min-width: @app-media-xs) {
    flex-direction: row;
    justify-content: space-between;

    > div {
      margin-top: 0;
    }
  }
}

.list-container {
  width: 93%;
  margin: 0 auto 40px auto;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: @app-media-xs) {
    flex-direction: row;
    margin: 40px auto;

    > div {
      width: 75%;
    }

    .right-side {
      width: 25%;
    }

    .searching-box {
      margin-left: 20px;
    }

  }

  .searching-box {
    .filter-list {
      list-style: none;
      padding: 0;
      margin-top: 20px;

      li {
        margin: 0 0 10px;

        a {
          font-size: 16px;
          color: #818181;
          font-weight: 400;
          -webkit-transition: color .3s ease-in-out;
          -moz-transition: color .3s ease-in-out;
          -ms-transition: color .3s ease-in-out;
          -o-transition: color .3s ease-in-out;
          transition: color .3s ease-in-out;
        }
      }
    }

    .search-form {
      height: 37px;

      input {
        &[type="search"] {
          height: 37px;
        }

        &[type="submit"] {
          top: 0 !important;
        }
      }
    }

    .price-label {
      font-family: 'Raleway',sans-serif;
      font-weight: 700;
      font-size: 13px;
      line-height: 38px;
      text-transform: uppercase;
      color: #303030;
      letter-spacing: 1px;
    }

    .searching-block {
      margin-top: 42px;

      .new-block-carousel {
        .owl-carousel .item {
          overflow: hidden;

          figure a img {
            //height: 160px;
            margin: 0 auto;
            display: block;
            //width: auto;

            width: 100%;
            height: auto;
            max-width: 100%;
          }
        }
      }

      .filter-actions {
        margin: 28px 0 42px;

        .price-label {
          float: left;
        }

        .send-filter-criteria {
          text-align: right;
          float: right;
        }
      }
    }
  }
}

.searching-box {
  padding: 50px 0 30px;
  padding: 30px;
  background-color: #ebebeb;
  margin-top: 0px;

  h5 {
    font-size: 15px;
    line-height: 1.571428571428571em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 14px;
    color: #303030;
  }
}
