.searching-members-page {
  .search-form-by-members {
    padding: 20px 15px;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    input {
      padding: 0 13px;
      min-width: 190px;
      border: 1px solid #ccc;
      border-radius: 3px;
      height: 35px;
      font-family: 'Raleway',sans-serif;
    }

    button {
      height: 29px;
      line-height: 28px;
      border: 1px solid #4f4f4f;
      border-radius: 3px;
      font-weight: normal;
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0px;
    }

    @media only screen and (min-width: @app-media-sm) {
      padding: 20px 80px;

      input {
        min-width: 300px;
      }
    }
  }

  .member-wrapper {
    font-size: 16px;
    line-height: 26px;
    color: #818181;

    .member-item {
      padding: 20px;
      border-bottom: 1px solid #e7e7e7;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      .user-details {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          width: 70px;
          height: 70px;
          margin-right: 15px;
        }

        > div {
          display: flex;
          flex-direction: column;

          label {
            font-weight: 700;
          }
        }
      }

      .wishlist-list {
        float: right;

        ul {
          list-style: none;
          padding: 0;

          li {
            a {
              color: #303030;
              text-decoration: none;

              &:hover {
                color: @gold;
              }
            }
          }
        }
      }

      @media only screen and (min-width: @app-media-sm) {
        flex-direction: row;
        padding: 50px 80px;
      }
    }
  }
}
