.user-profile-page {
    form {
      fieldset {
        border: none;
        padding-left: 0;
        padding-right: 0;

        legend {
          font-size: 16px;
        }
      }

      input[type="submit"] {
        line-height: 34px;
      }

      .form-row-wide {
        input {
          width: 100%;
          box-sizing: border-box;
        }
      }

      .form-row {
        input {
          min-width: 250px;
        }
      }

      .upload-photo {
        img {
          width: 120px;
        }

        input[type="file"] {
          background-color: transparent;
          padding-left: 0;
        }
      }

      @media only screen and (max-width: @app-media-xs) {
        .form-row {
          input {
            width: 100%;
            box-sizing: border-box;
          }
        }
      }
    }
}
