.user-want-list-page {
  .table-list {
    margin-top: 30px;
    width: 100%;
    background: #ffffff;
    color: #6d6c6c;
    border-color: #f4f4f4;
    font-size: 80%;

    thead {
      background: #f4f4f4;
      text-align: left;

      tr {
        th {
          padding: 13px 10px;
          font-size: 14px;
          line-height: 1.571428571428571em;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-family: 'Raleway',sans-serif;
          font-weight: 600;

          border-top: 1px solid #e6e6e6;
          border-bottom: 1px solid #e6e6e6;

          &:first-child {
            border-left: 1px solid #e6e6e6;
          }

          &:last-child {
            border-right: 1px solid #e6e6e6;
          }
        }
      }
    }

    tbody {
      tr td {
        padding: 16px 12px;
        vertical-align: middle;
        font-size: 13px;

        &.product-thumbnail {
          vertical-align: middle;
          background: transparent!important;

          div {
            display: block;
            border: none;
            max-width: 80px;

            img {
              display: block;
              max-width: 66px;
            }
          }
        }

        &.product-note {
          max-width: 100px;
          overflow: hidden;

          input {
            padding: 5px;
            box-sizing: border-box;
            max-width: 100px;
          }
        }

        &.product-name {
          max-width: 150px;
        }

        &.product-remove {
          text-align: center;
          border-right: 1px solid #e0dede;
          font-size: 16px;

          input {
            cursor: pointer;
          }
        }

        &.product-add-to-cart {
          a.selectBox {
            border: solid 1px #BBB;
            line-height: 25px;
            height: 27px;

            .selectBox-label {
              text-align: center;
            }

            .selectBox-arrow {
              width: 20px;

              &::after {
                line-height: 25px;
                color: #BBB;
              }
            }
          }

          > span,
          > a {
            display: block;
          }
        }
      }
    }
  }

  .email-table-share {
    text-align: right;
    margin-top: 20px;
  }
}
