.want-list-page {
  table.wishlist-table {
    margin-top: 30px;
    background: @white;
    color: #6d6c6c;
    border-color: @lightWhite;
    width: 100%;
    font-size: 80%;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    border: medium none;
    vertical-align: middle;

    thead {
      background: @lightWhite;

      tr th {
        padding: 13px 10px;
        font-size: 14px;
        line-height: 1.571428571428571em;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: 'Raleway',sans-serif;
        font-weight: 600;
        border-top: 1px solid #e7e7e7;
        background: 0;
        text-align: left;
      }
    }

    tbody {
      tr td {
        vertical-align: middle;
        background: transparent !important;
        border-color: #e7e7e7;
        padding: 16px 12px;
        text-align: left;
        color: #888;
        font-size: 13px;

        &.wishlist-delete {
          a.btn {
            padding: 0 10px;
            height: 30px;
            line-height: 30px;

            @media only screen and (min-width: @app-media-sm) {
              padding: 0 23px;
              height: 38px;
              line-height: 38px;
            }
          }
        }
      }
    }

    tfoot {
      tr td {
        text-align: right;
        padding: 24px 12px;
        background-color: #F6F6F6;
      }
    }
  }

  .dashboard-select {
    border: solid 1px #bbb;
    line-height: 25px;
    height: auto;
    min-width: 100px;
    text-decoration: none;
    text-align: left;
    color: #000;
    padding-left: 8px;
    outline: none;
    vertical-align: middle;

    .selectBox-arrow {
      width: 20px;
      top: -10px;

      &::after {
        color: #bbb;
        font-weight: bold;
      }
    }
  }
}

ul.selectBox-dropdown-menu.wish-selectBox-dropdown-menu {
  border: 1px solid #bbb;

  li {
    padding: 3px 8px;
    display: flex;
    align-items: center;

    &:hover {
      &::before {
        color: @gold;
      }
    }

    a {
      cursor: pointer;
    }
  }
}

.public-visibility,
.shared-visibility,
.private-visibility {
  &::before {
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 5px;
  }
}

.public-visibility::before {
  content: "\f0ac";
}

.shared-visibility::before {
  content: "\f0c1";
}

.private-visibility::before {
  content: "\f023";
}
