.owl-carousel {
  .item {
    margin: 0px;
    border: solid 1px #f6f6f6;
    padding: 0px;

    &:hover {
      border: 1px solid @gold;
    }

    figure {
      position: relative;
      margin: 0;
      overflow: hidden;

      a img {
        width: 100%;
      }

      figcaption {
        height: 100px;
        width: 100%;
        top: auto;
        bottom: 0;
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
        -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
        -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
        transition: transform 0.4s, opacity 0.1s 0.3s;
        position: absolute;
        left: 0;
        padding: 10px 0;
        text-align: center;

        h3 {
          color: #2a2a2a;
          font-weight: 600;
          margin: 0!important;
          padding: 0 0 0 0;
          text-align: center;
          font-size: 11px;
          line-height: 20px;
          text-transform: uppercase;
          letter-spacing: 1px;
        }

        .pro_price_area {
          color: #2a2a2a;
          text-align: center;
          font-size: 16px;
          display: block;
          line-height: 20px;
        }
      }

      &:hover {
        figcaption {
          opacity: 1;
          -webkit-transform: translateY(0px);
          -moz-transform: translateY(0px);
          -ms-transform: translateY(0px);
          transform: translateY(0px);
          -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
          -moz-transition: -moz-transform 0.4s, opacity 0.1s;
          transition: transform 0.4s, opacity 0.1s;

          height: 60px;
          background-color: #f6f6f6;
          color: #303030;
          margin-bottom: 0;
        }
      }
    }
  }

  .owl-controls {
    padding: 20px 0 10px 0;

    .owl-pagination {
      .owl-page {
        span {
          background: #e2cda1;
        }

        &.active {
          span {
            background: #e2be89;
          }
        }
      }
    }
  }
}
