.ui-slider {
  background-color: #ebebeb !important;
  border: 1px solid #ebebeb !important;

  &.ui-slider-horizontal {
    position: relative;
    text-align: left;
    height: .31em;
  }

  .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    top: 0;
    height: 100%;
    background-color: #debe85;
  }

  .ui-slider-handle {
    cursor: pointer !important;
    position: absolute;
    z-index: 2;
    width: 15px !important;
    height: 15px !important;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    cursor: pointer;
    outline: 0;
    top: -6px !important;
    color: #fff;
    border: 1px solid #c0c0c0 !important;
    background-color: #c0c0c0 !important;
  }
  .ui-slider-handle:last-child {
    margin-left: -0.9em;
  }
}
