#left-fixed-menu {
  width: 18%;
  background-color: @darkBlue;
  background-image: url('@{imagesPath}/menu-background.jpg');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  i,
  i:hover,
  i:active,
  i:focus {
    background-color: transparent;
    outline: none;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  ul:not(.second-menu):not(.bottom-ul-menu) {
    padding-left: 45px;

    @media only screen and (min-width: @app-media-xlg) {
      padding-left: 65px;
    }

    li {
      &.menu-moon-icon {
        background-image: url('@{iconsPath}/moon-icon-gold.png');
        background-repeat: no-repeat;
        background-position: left top 21px;
        padding-left: 5px;

        > label {
          padding-left: 20px !important;
        }

        &:hover {
          background-image: url('@{iconsPath}/moon-icon-white.png');
        }
      }

      > label,
      > a {
        color: @gold;
        font-size: 15px;
        line-height: 60px;
        display: block;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        text-decoration: none;

        &.double-line {
          line-height: 24px;
          padding-right: 10px;
          padding-top: 15px;
          padding-bottom: 15px;
        }

        &:hover {
          color: @white;
        }

        span:not(.mobile-only) {
          display: block;
        }
      }

      ul.second-menu {
        display: none;
        list-style: none;
        padding-left: 0;

        li {
          a {
            display: inline-block;
            max-width: 180px;
            color: @darkGold;
            font-size: 14px;
            text-transform: uppercase;
            line-height: 18px;
            font-weight: normal;
            padding: 10px 0;

            &:hover {
              color: @white;
            }
          }
        }
      }

      > label,
      > a {
        &.current-menu-item {
          color: @white !important;
        }

        &.menu-open-item + ul.second-menu {
          display: block;
        }
      }

      .fa {
        font: normal normal normal 14px/1 FontAwesome;
      }
    }
  }

  .main-menu {
    ul li a.double-string {
      padding-bottom: 15px;
      padding-top: 15px;
      line-height: 24px;

      label {
        cursor: pointer;
      }

      span {
        line-height: 15px;
        cursor: pointer;
      }
    }
  }

  .top-logo {
    text-align: center;

    img {
      width: 80%;
      margin: 60px auto 30px;
    }
  }

  .mobile-only {
    display: none;
  }

  .bottom-menu-item {
    a {
      font-weight: 300;
      font-size: 13px;
      color: @gold;
      line-height: 26px;
      text-transform: uppercase;
      display: block;
      padding-left: 45px;
      padding-bottom: 20px;

      @media only screen and (min-width: @app-media-xlg) {
        padding-left: 65px;
      }

      &:hover {
        color: @white;
      }
    }
  }

  @media only screen and (max-width: @app-media-md) {
    width: 100%;
    padding: 0 45px;
    min-height: 100px;
    box-sizing: border-box;
    position: static;

    > div {
      width: 100%;
    }

    #mobile-menu-switcher {
      color: @gold;
      position: absolute;
      left: 45px;
      padding: 43px 0;
      cursor: pointer;
      width: 30px;

      &:hover {
        color: @white;
      }
    }

    .main-menu,
    .bottom-menu-item {
      > ul {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0 !important;
        text-align: left;

        li {
          &.menu-moon-icon {
            background-position: left top 15px !important;
          }

          > a,
          > label {
            font-size: 13px !important;
            font-weight: 400 !important;
            color: @lighterGray !important;
            text-transform: none !important;
            padding: 10px 0 !important;
            line-height: 26px !important;
            letter-spacing: 0 !important;
            border-bottom: 1px solid @lightBlue;

            &:not(.double-line) {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }

            &:hover {
              color: @gold !important;
            }

            span {
              display: inline !important;
            }

            .fa-angle-down {
              display: none;
            }

            .fa-angle-right {
              display: block;
            }

            &.menu-open-item {
              .fa-angle-down {
                display: block;
              }

              .fa-angle-right {
                display: none;
              }
            }
          }

          ul.second-menu {
            li a {
              display: block !important;
              max-width: 100% !important;
              font-size: 13px !important;
              font-weight: 400 !important;
              color: @lighterGray !important;
              padding: 10px 0 !important;
              text-transform: none !important;
              line-height: 26px !important;
              letter-spacing: 0 !important;
              max-width: 100% !important;

              &:hover {
                color: @gold !important;
              }
            }
          }
        }
      }
    }

    .mobile-only {
      display: block;
    }

    .top-logo {
      a {
        display: inline-block;
        padding: 5px 0;

        img {
          margin: 0;
        }
      }
    }

    .main-menu,
    .bottom-menu-item {
      display: none;
    }

    &.open-mobile-menu {
      .main-menu,
      .bottom-menu-item {
        display: block;
      }
    }
  }

  @media only screen and (max-width: @app-media-sm) {
    padding: 0 15px;

    #mobile-menu-switcher {
      left: 20px;
    }
  }
}
