.list-item {
  text-align: center;
  background-color: @white;
  overflow: hidden;

  a {
    display: block;
    border: 1px solid transparent;
    position: relative;
    height: 100%;
    box-sizing: border-box;

    img {
      max-width: 100%;
      max-height: 300px;
    }

    h6 {
      padding: 0 15px;
      margin: 15px 0 0;
      font-weight: 700;
      font-size: 11px;
      line-height: 1.538461538461538em;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: @darkGray;
      -webkit-transition: color .3s ease-in-out;
      -moz-transition: color .3s ease-in-out;
      -ms-transition: color .3s ease-in-out;
      -o-transition: color .3s ease-in-out;
      transition: color .3s ease-in-out;
    }

    .price {
      margin: 0 0 30px;
      display: block;
      font-size: 14px;
      line-height: 26px;
      color: #777;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;

      del + .amount {
        color: @gold;
      }
    }

    &:hover {
      border: 1px solid @gold;

      img {
        opacity: 0.2;
      }

      h6 {
        color: @gold;
      }
    }
  }
}

.onsale {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 4.533333333333333em;
  height: 4.533333333333333em;
  line-height: 4.533333333333333em;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  background-color: #303030;
  color: #fff;
  -webkit-border-radius: 500em;
  -moz-border-radius: 500em;
  -ms-border-radius: 500em;
  -o-border-radius: 500em;
  border-radius: 500em;
  z-index: 100;
  cursor: default;

  .onsale-inner {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      width: 13px;
      height: 2px;
      border-bottom: 2px solid;
      bottom: -5px;
      left: 50%;
      margin-left: -5px;
    }
  }
}
