#message {
  padding: 0;
}

.message {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;

  &.message-success {
    color: @green;
    background-color: @lightGreen;
    border-color: @lightestGreen;
  }

  &.message-info {
    color: @azure;
    background-color: @lightAzure;
    border-color: @lightestAzure;
  }

  &.message-warning {
    color: @brown;
    background-color: @lightBrown;
    border-color: @lightestBrown;
  }

  &.message-danger {
    color: @danger;
    background-color: @lightDanger;
    border-color: @lightestDanger;
  }
}
