.want-it-modal {
  button.close {
    margin: 5px -40px;
    width: 30px;
    height: 30px;
    font-size: 22px;
    background-color: #666;
    border: 0;
    opacity: 0.85;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }

  .modal-body {
    padding: 15px 30px;

    a.selectBox {
      border: solid 1px #BBB;
      line-height: 25px;
      height: 27px;
      min-width: auto;

      .selectBox-label {
        min-width: auto;
        width: 100% !important;
        text-align: left;
      }

      .selectBox-arrow {
        width: 20px;

        &::after {
          line-height: 25px;
          color: #BBB;
        }
      }
    }

    > span,
    > a {
      display: block;
    }

    .note-for-product {
      h4 {
        margin-bottom: 0;
      }
    }

    .create-list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;

      > * {
        margin-left: 7px;
      }

      input {
        border: 1px solid #ccc;
        padding: 0 12px;
        height: 28px;
      }

      h3 {
        color: @black;
      }

      select {
        width: 175px;
        margin-top: 10px;
      }

      a.selectBox {
        border: 1px solid #ccc;
        height: 30px;
        line-height: 30px;
        border-radius: 3px;
        padding: 0 5px;
        min-width: 110px;
        width: 110px;

        .selectBox-label {
          text-align: left;
          width: 100% !important;
        }

        .arr {
          width: 20px;

          &:after {
            line-height: 28px;
          }
        }
      }
    }

    .want-it-body {
      width: 80%;
      padding-bottom: 20px;

      h3 {
        font-size: 17px;
        line-height: 1.304347826086957em;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
        color: #303030;
        margin: 0;
      }

      select {
        width: 100%;
      }
    }
  }

  .modal-footer {
    padding-right: 40px;
  }

  .modal-header {
    position: relative;

    button.close {
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .send-by-email {
    width: 100%;
    display: flex;
    margin: 15px 0 10px;

    input[type="email"] {
      border: 1px solid #bbb;
      padding: 10px;
      margin-right: 10px;
      flex: 1;
    }
  }
}
