.reggie-pagination {
  padding: 40px 0 40px 0;
  text-align: center;

  .page-numbers {
    list-style: none;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      a, span.current {
        margin: 11px 11px 0 0;
        position: relative;
        display: inline-block;
        width: 38px;
        height: 38px;
        line-height: 38px;
        text-align: center;
        color: #b4b4b4;
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        white-space: nowrap;
        border: 2px solid #e5e5e5;
        outline: 0;
        -o-border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        text-shadow: none;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
      }

      span.current,
      a:hover {
        color: #303030;
        background-color: #eee;
        border-color: #eee;
      }
    }
  }
}