#scrollToTop {
  display: none;
  color: #cdcdcd;
  height: auto;
  position: fixed;
  cursor: pointer;
  bottom: 65px;
  margin: 0;
  z-index: 10000;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  right: 25px;

  span {
    width: 52px;
    height: 52px;
    line-height: 52px;
    -webkit-transition: all .2s ease 0s;
    -moz-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    background: transparent;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    text-align: center;

    &:hover {
      background-color: #e8e8e8;
    }

    i {
      font-size: 22px;
      -webkit-transition: color .2s ease 0s;
      -moz-transition: color .2s ease 0s;
      -o-transition: color .2s ease 0s;
      color: #b0b0b0;
      line-height: 52px;
      font-family: 'FontAwesome',sans-serif;
    }
  }
}