.selectBox {
  &.dashboard-select {
    display: inline-block;
    min-width: 200px;
    box-sizing: border-box;
    position: relative;
    padding-left: 16px;
    line-height: 47px;
    height: 47px;
    cursor: pointer;
    background-image: none;
    border: none;
    background-color: white;

    .selectBox-label {
      margin-right: 26px;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 400;
      min-width: 150px;
      padding: 0;
      color: #818181;
      font-size: 13px;
    }

    .selectBox-arrow {
      border: none;
      width: 47px;
      background: none;

      &::after {
        color: #e5e5e5;
        content: "";
        font-family: 'FontAwesome',serif;
        font-size: 13px;
        height: 100%;
        line-height: 47px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
      }
    }
  }

  &.dark-select {
    display: inline-block;
    width: 100% !important;
    font-weight: 700;
    padding-left: 10px;
    border: 1px solid #ccc;
    height: 35px;
    line-height: 35px;
    border-radius: 3px;
    background-color: #e2e2e2;
    font-size: 13.33px;
    color: @black !important;
  }
}

.selectBox-dropdown-menu {
  &.dashboard-select-selectBox-dropdown-menu {
    border: none;
    box-shadow: none;

    li {
      padding: 4px 7px 6px 16px;
      margin: 0;
      cursor: pointer;
      min-height: 1em;

      a {
        background: none !important;
        padding: 0;
        line-height: 26px;
        font-size: 13px;
        color: #818181;

        &:hover {
          color: @gold;
        }
      }
    }
  }
}

.dark-select-selectBox-dropdown-menu {
  border: 1px solid #ccc !important;

  .selectBox-arrow {
    width: 30px;

    &::after {
      color: #565656;
      line-height: 33px;
    }
  }
}

