.share-links {
  .share-title {
    margin: 10px 0;
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    color: #303030;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;

    li {
      display: inline-block;

      a {
        font-size: 22px;

        &.facebook {
          color: #39599F;
        }

        &.twitter {
          color: #45B0E3;
        }

        &.pinterest {
          color: #AB2D2C;
        }

        &.googleplus {
          color: #E16249;
        }

        &:hover {
          color: #8A8A8A;
        }
      }
    }
  }
}